@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

header .logo {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

header .logo span {
    font-size: 3rem;
    color: #25D366;
    position: relative;
    left: -.4vw;
}

header nav {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15vw;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: white;
    padding: 1vh 2vw;
    margin: 0 1vw;
    font-family: "Quicksand", sans-serif;
    border-radius: 35px;
    transition: .5s ease-in-out;
    font-weight: 200;
}

header nav li a:hover {
    background-color: rgba(255, 255, 255, 0.247);
}

/* this is the input section */

.form_container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    margin: 5vh 0;
    width: 50vw;
    height: 75vh;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background: url(assets/whatsapp_background.jpg);
}

.form .intro {
    width: 36vw;
    height: 18vh;
    padding: 1vh 1vw;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    background-color: #dcf8c6;
    position: relative;
    right: -28%;
    text-align: right;
    border-top-left-radius: 35px;
}

.form .intro span {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.form .intro p {
    font-size: .9rem;
    color: black;
    font-family: "Poppins", sans-serif;
}

.form .input_box {
    background-color: #dcf8c6;
    width: 35vw;
    height: 40vh;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form .input_box input {
    width: 20vw;
    height: 6vh;
    border: none;
    outline: none;
    background: linear-gradient(60deg, #075e54, #075e54, #075e54, #075e547b);
    border-radius: 35px;
    border-bottom-right-radius: 0;
    padding-left: 2vw;
    color: white;
}

.form .input_box input::placeholder {
    color: rgba(255, 255, 255, 0.684);
    letter-spacing: 1px;
}

.form .input_box button {
    background-color: #25D366;
    background: linear-gradient(60deg, #25D366, #25D366, #25d36557);
    padding: 1.5vh 3vw;
    border: none;
    outline: none;
    border-radius: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    left: 5.55vw;
}







.instructions {
    width: 30vw;
    height: 55vh;
    margin: 0 auto;
    border-radius: 25px;
    background: url(assets/new_file.png);
    background-size: cover;
}